* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}



.navbar {
  background-color: #444;
}

.container_menu{
position: fixed;
  top: 150px;

}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0.5rem 0;
  flex-wrap: wrap;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
}

.sidebar {
  background-color: #f4f4f4;
  padding: 1rem;
  width: 250px;
  flex-shrink: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 0.5rem 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.content {
  flex: 1;
  padding: 1rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}

  .typewriter {
      overflow: hidden;
      border-right: .15em solid #0f0;
      white-space: nowrap;
      width: 0;
      animation: 
        typing 3s steps(23, end) forwards,
        blink-caret 0.75s step-end infinite;
        margin: 0 auto;
    }

    @keyframes typing {
      from { width: 0 }
      to { width: 23ch } /* Esattamente la lunghezza della frase */
    }

    @keyframes blink-caret {
      50% { border-color: transparent }
    }
